body{
  margin: 0;
  padding: 0;
}
.container{
  background: url(../image/galaxy.jpg);
}

.container::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: inherit;
}

.bgi{
  width: 220px;
  height: 50px;
  font-size: 23px;
  border: 10px solid purple;
  border-radius: 10px;
  background-color: yellowgreen;
  font-weight: 800;
  margin: 40px;
  display: flex;
  align-items: center;
}